@media only screen and (max-width:754px){
  .container{
    width: 375px;
  }
  .nav{
    display: none;
    height: 400px;
  }
  .nav-menu{
    margin-top: 35px;
    display: inline-grid;
    grid-template-columns: 50%;
    grid-gap: 30px;
    width: 100%;
    background-color: #ffffff;
  }
  .nav-menu>a{
    text-align: center;
    font-size: 24px;
  }
  .nav-menu>.menu-active{
    font-size: 24px;
  }
  .nav-btn-close{
    right: 0;
    display: block;
    position: absolute;
    margin: 30px 30px;
  }
  .nav-btn-close>img{
    width: 80%;
  }
  .btn-menu{
    position: fixed;
    display: block;
    right: 0;
    margin: 20px;
  }
  .block-one-flex{
    margin-left: 25px;
    display: block;
  }
  .block-one-language{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 250px 30px;
  }
  .block-one-language>a{
    transform: rotate(360deg);
  }
  .hr{
    display: none;
  }
  .photo-main{
    display: none;
  }
  .photo-mobile{
    display: block;
    margin: auto;
  }
  .block-two-aboutMe{
    padding: 50px;
  }
  .block-three-skills {
    padding-top: 40px;
  }
  .block-three-programs{
    height: auto;
    grid-template-columns: 1fr;
  }
  .block-four-portfilio {
    padding: 40px 0px;
  }
  .block-four-items>img{
    width: 90%;
  }
  .footer {
    margin-top: 180px;
  }
}
@media only screen and (min-width:754px){
  .nav{
    display: block;
  }
  .nav-menu-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
  }

  .nav-menu>a{
    font-family: 'Gilroy-Bold',sans-serif;
    font-size: 18px;
    color: #828282;
  }
  .nav-menu>.menu-active{
    font-family: 'Gilroy-Bold',sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #070707;
  }
  .btn-menu{
    display: none;
  }

}
